<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
	<!-- Enable features -->
	<featureManager>
      <feature>jaxrs-2.1</feature>
      <feature>microProfile-2.2</feature>
	</featureManager>
	
	<httpEndpoint httpPort="9080" httpsPort="9443"
                id="defaultHttpEndpoint" host="*" />

<!-- 
  	<webApplication location="openlibertry-service.war" contextRoot="/"/>
  	 -->
  	<application name="openlibertry-service"  context-root="/" type="war" 
		id="openlibertry-service"
    	location="${server.config.dir}dropins/imixs-ml-training-service.war">
    
    </application>
  
	<applicationMonitor dropinsEnabled="false" />
	
	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true" />

    
</server>
